/* This footer was taken from https://github.com/xz/new.css/pull/72 */
footer {
    background: var(--nc-bg-2);
    border-top: 1px solid var(--nc-bg-3);
    padding: 2rem 1.5rem;

    /* This sets the right and left margins to cancel out the body's margins. It's width is still the same, but the background stretches across the page's width. */

    margin: 2rem calc(0px - (50vw - 50%)) -2rem;

    /* Shorthand for:
	margin-top: -2rem;
	margin-bottom: 2rem;
	margin-left: calc(0px - (50vw - 50%));
	margin-right: calc(0px - (50vw - 50%)); */

    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}

footer h1,
footer h2,
footer h3 {
    padding-bottom: 0;
    border-bottom: 0;
}

footer > *:first-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

footer > *:last-child {
    margin-top: 0;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}
td, th {
    white-space: nowrap;
}
.navbar-icon {
    width: 155px;
    height: 155px;
    overflow: hidden;
    border-radius: 50%;
}
body {
    max-width: 90%;
}
blockquote h4 {
    padding-top: 0;
}
details[open] summary {
    padding-bottom: 10px;
}
.banner {
    text-align: center;
    background-color: darkred;
    padding: 10px;
}
.banner p {
    margin: 0;
    padding: 5px;
  }