/* This footer was taken from https://github.com/xz/new.css/pull/72 */
footer {
    background: var(--nc-bg-2);
    border-top: 1px solid var(--nc-bg-3);
    padding: 2rem 1.5rem;
    margin: 2rem calc(0px - (50vw - 50%)) -2rem;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}

footer h1,
footer h2,
footer h3 {
    padding-bottom: 0;
    border-bottom: 0;
}

footer > *:first-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

footer > *:last-child {
    margin-top: 0;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}
td, th {
    white-space: nowrap;
}
.navbar-icon {
    width: 155px;
    height: 155px;
    overflow: hidden;
    border-radius: 50%;
}
body {
    max-width: 90%;
    font-family: "Noto Sans Mono", Consolas, "SF Mono", monospace;
}
blockquote h4 {
    padding-top: 0;
}
details[open] summary {
    padding-bottom: 10px;
}
.banner {
    text-align: center;
    background-color: darkred;
    padding: 10px;
}
.banner p {
    margin: 0;
    padding: 5px;
}
.banner .safe {
    background-color: green;
}
.banner .unknown {
    background-color: darkorange;
    color: white;
}
.banner h3, .banner.unknown h3, .banner.safe h3, .banner.not-safe h3 {
    border-bottom: 1px solid white;
}
.safe {
    background-color: green !important;
}
.safe a {
    color: white;
}
.unknown {
    background-color: darkorange !important;
}
.unknown a {
    color: white;
}
.not-safe {
    background-color: darkred !important;
}
.not-safe a {
    color: white;
}
a button {
    background-color: rgb(25, 25, 25);
    border: 0.5px solid white;
}
a button:hover {
    background-color: rgb(30, 30, 30);
}
a {
    background: rgb(225, 225, 225);
    color: black;
    text-decoration: underline;
}
a:hover {
    color: black;
}
td a {
    background: unset;
    color: white;
    text-decoration: underline;
}
td a:hover {
    background: unset;
    color: gray;
    text-decoration: underline;
}
.safe a {
    background: unset;
    color: white;
    text-decoration: underline;
}
.safe a:hover {
    color: white;
}
.unknown a {
    background: unset;
    color: white;
    text-decoration: underline;
}
.unknown a:hover {
    color: white;
}
.not-safe a {
    background: unset;
    color: white;
    text-decoration: underline;
}
.not-safe a:hover {
    color: white;
}
header, footer {
    background-color: rgb(25, 25, 25)
}
/* Lightmode things */
@media (prefers-color-scheme: light) {
    header, footer {
        background-color: rgb(255, 255, 255)
    }
    .banner {
        color: white;
    }
    .banner h3, .banner.unknown h3, .banner.safe h3, .banner.not-safe h3 {
        border-bottom: 1px solid white;
        color: white;
    }
    td a {
        background: unset;
        color: black;
        text-decoration: underline;
    }
    .safe a, .safe td {
        color: white;
    }
    .unknown a, .unknown td {
        color: white;
    }
}