<header>
    <div class="navbar-icon">
        <img src="https://raw.githubusercontent.com/wukko/cobalt/current/src/front/icons/generic.png" alt="cobalt icon"/>
    </div>
    <h1>hyper's cobalt instance list</h1>
    <p><a href="{{ site.url }}">Home</a> - <a href="{{ site.url }}/instances">Instances</a> - <a href="{{ site.url }}/service">Services</a> - <a href="{{ site.url }}/api">API</a> - <a href="{{ site.url }}/projects">Projects</a> - <a href="{{ site.url }}/faq">FAQ</a> - <a href="https://github.com/hyperdefined/CobaltTester">Source Code</a></p>
</header>