<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include navbar.html %}
        {% if page.trust == "safe" %}
        {% include safe.html %}
        {% endif %}
        {% if page.trust == "unknown" %}
        {% include unknown.html %}
        {% endif %}
        {% if page.trust == "not_safe" %}
        {% include not-safe.html %}
        {% endif %}
        {% unless page.trust %}
            {% include main-banner.html %}
        {% endunless %}
        <h2>{{ page.title }}</h2>
        {{ content }}
        {% include footer.html %}
    </body>
</html>