<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include navbar.html %}
        {% if page.trust == "safe" %}
        {% include safe.html %}
        {% endif %}
        {% if page.trust == "unknown" %}
        {% include unknown.html %}
        {% endif %}
        {% if page.trust == "not_safe" %}
        {% include not-safe.html %}
        {% endif %}
        <h2>{{ page.title }}</h2>
        {{ content }}
        {% include footer.html %}
        <script type="text/javascript" src="{{ site.url }}/assets/js/table.js"></script>
        <script type="text/javascript" src="{{ site.url }}/assets/js/webring.js"></script>
    </body>
</html>