<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }} - {{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="{{ page.description }}">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="og:image" content="https://raw.githubusercontent.com/wukko/cobalt/current/src/front/icons/generic.png">
        <meta name="theme-color" content="#346eeb">
        <meta name="twitter:card" content="summary">
        <meta property="twitter:domain" content="{{ site.url }}">
        <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:image" content="https://raw.githubusercontent.com/wukko/cobalt/current/src/front/icons/generic.png">
        <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/wukko/cobalt/current/src/front/icons/favicon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/inter.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.3/new.min.css">
        <link href="{{ site.url }}/assets/css/custom.css" rel="stylesheet">
        <link href="{{ site.url }}/assets/css/monokai.css" rel="stylesheet">
		<script defer src="https://data.hyper.lol/script.js" data-website-id="8bbcfc41-d4c2-41a6-b9e3-4a33a2f9cb5e"></script>
    </head>
    <body>
        {% include navbar.html %}
        {% include banner.html %}
        <h2>{{ page.title }}</h2>
        {{ content }}
        {% include footer.html %}
    </body>
</html>